<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
  <title><%=name %></title>
</head>
<body>
  <h1><%=name %></h1>
  <!--Generate table-->
    <table class="custom-table">
        <!--Generate headings-->
        <tr>
            <% Object.keys(data[0]).forEach(function(item) { %>
            <th><%= item %></th>
            <% }); %>
            <th>

            </th>

        </tr>
        <tr>
            <form method="post" action="/updatePhleb/:<%=data[0].phlebid %>">
                <td class="attribute-element"><%=data[0].phlebid %></td>
                <td class="attribute-element">  <input type="text" id="name" name="name" placeholder="<%= name%>" required></td>
                <td class="attribute-element">
                    <select name="instNo" id="">
                        <option selected disabled hidden>choose option</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </td>
    <!--             <input type="text" id="name" name="instNo" placeholder="<%= data[0].instno%>"></td>             -->

             <td>
              <input type="submit" value="save" class="link-button"/></td>
        </form>
        </tr>


    </table>

    <div class="buttons-container">
             <form action="/phlebotomists" >
                        <input type="submit" value="Back to phlebotomist" class="link-button" />
                    </form>
        <form action="/" >
            <input type="submit" value="Back To Main Page" class="link-button" />
        </form>
    </div>
</body>
</html>